
.button {
    fx-font-family:"Calibri";
}   

#choiceBoxSelect{
    -fx-font-size: 17px; 
}
#registerTitle{
    -fx-font-size:45px;
    -fx-alignment:center;
    -fx-font-family:"Calibri";
    -fx-font-weight: bold;
}
